	<div class="dashboard-navbar">
		<div class="d-user-avater">
			<img src="https://via.placeholder.com/400x400" class="img-fluid avater" alt="">
		</div>
		<div class="d-navigation">
			<ul>
				<li><a href="/kullanici/profilim"><i class="ti-user"></i>Profilim</a></li>
				<li><a href="/ilanlar/favoriilanlarim"><i class="ti-bookmark"></i>Favori İlanlarım</a></li>
				<li><a href="/ilanlar/ilanlarim"><i class="ti-layers"></i>İlanlarım</a></li>
				<li><a href="/ilanlar/ilanolustur/0"><i class="ti-pencil-alt"></i>İlan Oluştur</a></li>
				<li><a href="/kullanici/cikis"><i class="ti-power-off"></i>Çıkış Yap</a></li>
			</ul>
		</div>
	</div>
