@using RealEstate.Services.Domains.Users.Models
@model ResetPasswordRequest
<section>

	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">

				<div class="alert alert-success" role="alert">
					<p>Şifreni mi unuttun , Endişelenme senin için buradayız gerekli bilgileri girdikten sonra sana bir mail yollayacağız. Spam kutunu kontrol etmeyi unutma. </p>
				</div>

			</div>
			<div class="col-lg-12 col-md-12">
				<div class="submit-page">
					<form asp-action="sifremiUnuttum" asp-controller="kullanici" method="post">
						<!-- Basic Information -->
						<div class="form-submit">
							<h3>Bilgileri Gir</h3>
							<div class="submit-section">
								<div class="form-row">
									<div class="form-group col-md-6">
										<label>Email</label>
										@Html.TextBoxFor(x=> x.Email,new{@class="form-control",required=""})
									</div>
									<div class="form-group col-md-6">
										<label>Telefon</label>
										@Html.TextBoxFor(x => x.Phone, new { @class = "form-control", required = "" })
									</div>
								</div>
							</div>
						</div>
						<div class="form-group col-lg-12 col-md-12">
							<button class="btn btn-theme" type="submit">Şifremi Yenile</button>
						</div>
					</form>

				</div>
			</div>

		</div>
	</div>

</section>